.header {
    text-align: center;
    margin: 30px 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    /* Background image (tiled) 
    background-image: url("images/hi.png");
    background-repeat: repeat;
    */
}

/*   Fluid Layout Container*/

.container {
    width: 90%;
    min-width: 1000px;
    max-width: 1400px;
    margin: 30px auto;

    background-color: #f6f0f0;
    padding: 20px;

    border: 2px solid #d5c7a3;
    border-radius: 20px;
}

/* Navigation Bar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f2e2b1;
    padding: 10px 20px;   /* reduced height */
    border-radius: 12px;
    margin-bottom: 30px;
}
.nav a:hover {
    background-color: #e6d6a8;  /* slightly darker than nav bar */
    color: #000;
    border-radius: 8px;
}
.nav a {
    
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 6px 12px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Main Content Area */

.content {
    padding: 20px;
    position: relative;            
}

/* Heading positioning example */
.content h1 {
    position: relative;
    left: 10px;
    margin-bottom: 15px;
}

/*Paragraph Styling */

.content p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Logo image styling */
.logo {
    width: 300px;                  
    height: auto;                   

    display: block;
    margin: 0 auto 20px;

    border: 4px solid #bdb395;
    border-radius: 25px;
}

/*Unordered List Styling */

.custom-list {
    list-style-type: square;
    padding-left: 40px;
}

/* Floated list items */
.custom-list li {
    float: left;                   /* float */
    width: 45%;
    margin-bottom: 10px;
}

/* Clear floats */
.custom-list::after {
    content: "";
    display: block;
    clear: both;
}

.birthday-card{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 15px;
    margin:20px 0;
    transition:transform 0.3s, background-color 0.3s;
}

.birthday-card:hover{
    background-color: aqua;
    transform:scale(1.02);
}

.media-box:hover{
    border: 3px solid bisque;
}
/* for supporting design across multiple layouts,
 * I am gonna hardcode, the max width for the media*/
 @media (max-width: 900px){
    .container{
        width: 95%;
        padding: 15px;
    }
 }

 /* for mobile layout*/
 @media (max-width: 600px){
    body{
        font-size: 16px;
    }

    h1{
        font-size: 1.5rem;
        text-align: center;
    }

    video, audio{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
 }
 
